@model IEnumerable<Advertisement>

@{
    ViewBag.Title = "Advertisements";
}

<div class="card-deck">
    @foreach (var advertisement in Model)
    {
        //var photoPath = "~/Images/" + (advertisement.photoPath ?? "noimage.jpg");
        var photoPath = "~/Images/noimage.jpg";
        var price = advertisement.price > 0 ? advertisement.price + "лв." : "По договаряне";
        <div class="card m-3 fourElementsInRow">
            <div class="card-header">
                <h3>@advertisement.bikeModel.bikeBrand.name @advertisement.bikeModel.name</h3>
            </div>
            <img class="card-i mg-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div>
                <h4 class="ad-price">@price</h4>
            </div>
            <a asp-controller="advertisement" asp-action="view"
               asp-route-id="@advertisement.id"
               class="stretched-link"></a>
        </div>
    }
</div>